{% extends "base.html" %}


{% block body %}
{{request.user}}
<div class="container mx-auo col-6">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        {{ form.as_p }}  <!-- This renders the form fields as paragraphs -->
    </div>
    <button type="submit" class = "btn btn-primary">Login</button>
  </form>
  
  {% if form.errors %}
    <div class="error-messages">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
  {% endif %}

{% endblock %}